@import 'cards.css';

#intro {
	background: url(../assets/home/ponybanner.png) no-repeat center, url(../assets/home/intropattern.png), #222;
	clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 calc(100% - 50px));
	background-color: 605000;
	color: white;
	padding: 50px 0;
	text-shadow: 0 0 50px rgba(0,0,0,0.5);
	
	min-height: 400px;
	
	display: flex;
	justify-content: space-between;
}
#intro > div {
	padding: 0 30px 40px;
	
	display: flex;
	flex-direction: column;
}
#intro > div:first-child {
	justify-content: flex-end;
	flex-shrink: 1;
}

#intro h1 {
	padding: 10px 40px;
	text-align: center;
	white-space: nowrap;
}
#intro h2 {
	padding: 20px 0;
}
#intro p {
	margin: 5px;
}

#intro--link__download {
	background: url(../assets/pastelstripe.png) no-repeat top center / 100% 5px rgba(255,255,255,0.9);
	color: #444;
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	margin: 5px 10px;
	padding: 15px 20px 10px;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
}
#intro--link__download-beta,
#intro--link__download-liteloader {
	background: rgba(255,255,255,0.9);
	color: #444;
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	margin: 5px 10px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
}
a[id^="intro--link__download"]:hover {
	background-color: white !important;
}
#intro--link__download-beta[hidden] {
	display: none;
}
#intro--link__download-liteloader {
	border-top: 5px solid #4785d1;
}
#intro--link__download[data-version]::after,
#intro--link__download-beta[data-version]::after {
	content: 'for ' attr(data-version);
	
	font-size: 1rem;
	font-weight: normal;
	white-space: pre;
	
	position: absolute;
}

#intro--links__mod {
	padding: 5px 10px;
	text-align: center;
}

#intro--links__mod a {
	border-bottom: 1px dashed;
	color: inherit;
	margin-right: 5px;
	text-decoration: none;
}

#intro--links__social {
	display: flex;
	justify-content: flex-end;
}
#intro--link__discord {
	display: block;
}
#intro--link__discord img {
	height: 50px;
}


#features {
	margin-top: -70px;
	
	position: relative; /* to over the intro */
}
#links > div:active {
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}