menu {
	background: url(../assets/logo.png) no-repeat 10px center / 250px;
	padding-right: 20px;
	
	height: 150px;
	
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

menu a, menu span {
	background: url(../assets/pastelstripe.png) no-repeat center bottom / 100% 0;
	color: inherit;
	display: block;
	font-size: 1.2em;
	font-weight: 700;
	padding: 10px 20px;
	text-decoration: none;
	transition: background-size 100ms;
}
menu a:hover, menu span {
	background-size: 100% 5px;
}
menu a:not(:last-child), menu span:not(:last-child) {
	border-right: 2px solid #ddd;
}