<footer class="border-t-5 bg-zinc-200 p-6 text-center leading-loose text-zinc-600 border-stripe">
  <p>Site design &copy; {new Date().getFullYear()} minelittlepony-mod.com</p>
  <p>Minecraft &copy; Mojang AB</p>
  <p>My Little Pony: Friendship is Magic &copy; Hasbro, Inc.</p>
</footer>
