---
class: "home"
permalink: "/"
---
<!-- Banner -->
<div id="intro">
    <div>
        <h2>Ponify your Minecraft experience!</h2>
        <div>
            <p>Do you want more ponies in your life? Well, this is the Minecraft mod for you! This mod turns you, other players, and even mobs into little pastel-colored horses! (not IRL, but hey that's better than nothing).</p>
        </div>
    </div>

    <div>
        <h1>Get the mod now!</h1>

        <!-- Download links -->
        <a class="link download release" href="https://github.com/MineLittlePony/MineLittlePony/releases" target="_blank" data-text="Download"></a>
        <a class="link download beta"    href="#" hidden data-text="Pre-release"></a>
        <a class="link download fabric"  href="https://fabricmc.net/use/" target="_blank" data-text="Get Fabric"></a>
        <a class="link download hdskins" href="https://github.com/MineLittlePony/HDSkins/releases" target="_blank" data-text="Get HD Skins Mod"></a>

        <!-- GitHub links -->
        <div class="links github">
            <a href="https://github.com/MineLittlePony/MineLittlePony/releases" target="_blank">All releases</a>
            <a href="https://github.com/MineLittlePony/MineLittlePony" target="_blank">Source code</a>
        </div>

        <!-- Flex space -->
        <div style="flex-grow:1;"></div>

        <!-- Social links -->
        <div class="links social">
            <a class="discord" href="https://discord.gg/zKSZ8Mg" target="_blank">
                <img src="{{ '/assets/home/discord_logo.svg' | relative_url }}" type="image/svg+xml">
            </a>
        </div>

    </div>

</div>

<!-- Introducing cards -->
<div id="features" class="cards">
    {% for card in site.data.cards.features %}
    <!-- Intro card #{{ forloop.index }} -->
    {% include icon_card.html root="home" card=card %}
    {% endfor %}
</div>

<hr>

<!-- Extra cards -->
<div id="links" class="cards">
    {% for card in site.data.cards.links %}
    {% if card.hidden != true %}
    <!-- Extra card #{{ forloop.index }} -->
    {% include link_card.html root="home" card=card %}
    {% endif %}
    {% endfor %}
</div>

<script src="/js/versions.js"></script>
<!-- BatEEEE -->
<script src="/js/BatEEEE.js"></script>
<!-- Shhh don't worry about this, it's a special EEEEaster EEEEgg - Zombie -->
