@reference "../root/global.css";

.article {
  @apply prose prose-zinc max-w-none;
  @apply flex flex-col items-start gap-4 md:flex-row-reverse;

  .heading-anchor {
    @apply mr-1 font-bold text-zinc-400 no-underline hover:text-primary hover:underline;
  }

  a {
    @apply text-primary no-underline hover:underline;
  }

  code {
    @apply inline-block rounded-sm border border-zinc-200 bg-zinc-50 px-1 py-0 leading-6 before:content-none after:content-none;
  }

  blockquote {
    @apply bg-zinc-50 p-4;

    > :first-child {
      @apply mt-0;
    }

    > :last-child {
      @apply mb-0;
    }

    p {
      @apply font-normal not-italic before:content-none after:content-none;
    }
  }

  table {
    @apply w-auto;
  }
}

.article-content {
  @apply grow;

  > :first-child {
    @apply mt-0;
  }

  > :last-child {
    @apply mb-0;
  }
}

.toc {
  @apply rounded-lg border bg-zinc-50 p-4;
  @apply shrink-0 overflow-auto;
  @apply top-4 md:sticky md:max-w-80 md:max-h-[calc(100svh-2rem)];

  ol {
    @apply m-0;
  }
}
