---
import './global.css';

import { Navigation } from '~/data/navigation';
import type { MarkdownLayoutProps } from 'astro';
import RootLayout, { type Props as LayoutProps } from '../root/RootLayout.astro';
import NavigationLink from './NavigationLink/NavigationLink.astro';

export interface Frontmatter extends Partial<LayoutProps> {}

export type Props = MarkdownLayoutProps<Frontmatter>;

const { frontmatter, url } = Astro.props;
const { title = 'Some article', class: className, ...props } = frontmatter;

const section = url?.replace(import.meta.env.BASE_URL, '').split('/')[0];
const navigation = section && Navigation[section];
---

<RootLayout title={title} class:list={['gap-8', className]} {...props}>
  {
    navigation && (
      <div class="flex flex-wrap gap-2">
        {navigation.map((props) => (
          <NavigationLink {...props} />
        ))}
      </div>
    )
  }

  <div class="article">
    <slot />
  </div>
</RootLayout>
