---
import { hex } from '@/utils/color';
import { Image } from 'astro:assets';
export { type Feature as Props } from '@/data/features/features';

const { image, icon, color, title, content } = Astro.props;
---

<div class="bg-white shadow-lg">
  <!-- Image -->
  <Image class="w-full h-auto" src={image} alt={title} />

  <!-- Icon -->
  <div
    class="relative mx-auto -mt-12 flex size-24 items-center justify-center rounded-full border-8 border-white text-white"
    style={{
      backgroundColor: hex(color),
    }}
  >
    <i class:list={[icon, 'fa-2xl']}></i>
  </div>

  <!-- Body -->
  <div class="px-4 pb-6 pt-2 text-center">
    <!-- Title -->
    <h3 class="mb-2">{title}</h3>

    <!-- Content -->
    <p>{content}</p>
  </div>
</div>
