@use "mixins";

.disabled,
:disabled {
  cursor: not-allowed;
  opacity: 0.5 !important;
}

label {
  user-select: none;
}

.focus {
  background: white;
  border-color: dodgerblue;
  box-shadow: 0 0 0 4px rgba(dodgerblue, 0.25);
}

input:not([type="checkbox"]),
.input {
  min-height: var(--input-height);
  width: 100%;

  background: whitesmoke;
  border: 1px solid rgba(black, 0.1);
  border-radius: var(--border-radius);
  font: inherit;
  padding: 0 var(--margin);

  transition: background, box-shadow, border-color;
  transition-duration: 100ms;

  &:hover {
    background: white;
  }

  &:focus,
  &:active {
    @extend .focus;
  }

  &[type="range"] {
    padding: 0;
  }

  &[type="color"] {
    padding: 0.25em;
  }
}

button {
  background: var(--button-background-color);
  border-bottom: calc(var(--border-radius) / 2) solid rgba(black, 0.25);
  border-radius: var(--border-radius);
  color: var(--button-font-color);
  font: inherit;
  padding: 0 var(--margin);

  height: var(--input-height);

  @include mixins.hover {
    opacity: 0.9;
  }

  &:not(:disabled):active {
    opacity: 1;
    border-bottom-width: 0;
  }
}
