:root {
  --max-content-width: 1080px;
  --gutter: 24px;
  --margin: 1rem;

  --border-radius: 8px;
  --input-height: 2.5em;

  --navigation-height: 4rem;
  --header-height: var(--navigation-height);

  --pastel-stripe-url: url("/pastel-stripe.png");
  --pastel-stripe-background: var(--pastel-stripe-url) no-repeat top left / 100%;
  --pastel-stripe-height: 5px;

  --checker-texture: url("/checker.png");

  --primary-color-rgb: 186, 56, 58;
  --primary-color: rgb(var(--primary-color-rgb));

  --button-background-color: dodgerblue;
  --button-font-color: white;

  --shadow-color: #{rgba(black, 0.125)};
  --box-shadow: 0 0 16px var(--shadow-color);
  --drop-shadow: 0 4px 8px var(--shadow-color);
}

@media (max-width: 386px) {
  :root {
    --gutter: var(--margin);
  }
}
