@reference "../../../../layouts/root/global.css";

.Container {
  @apply bg-zinc-100 text-center text-zinc-500;
  @apply aspect-video rounded-md p-8;
  @apply flex flex-col items-center justify-center gap-4;
}
