---
import Team from '@/data/cards/team'
import MemberCard from './MemberCard.astro'
---

<div class="members-list">
  {Team.map((member) => <MemberCard {...member} />)}
</div>

<style lang="scss">
  .members-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--margin);

    @media (min-width: 800px) {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
