---
import Icon, { Props as IconProps } from '../Icon.astro'

export interface Props extends IconProps {
  href: string
  title: string
}

const Props = Astro.props as Props
---

<a
  href={Props.href}
  class={`social-link ${Props.className}`}
  title={Props.title}
>
  <Icon {...Props} />
</a>

<style lang="scss">
  @use '../../styles/mixins';

  .social-link {
    color: #7f7f7f;
    text-decoration: none !important;

    @include mixins.hover {
      color: dodgerblue;
    }
  }
</style>
