---
import ExtraCard from '~/components/astro/ExtraCard.astro'
import FeatureCard from '~/components/astro/FeatureCard.astro'
import Hero from '~/components/astro/Hero/Hero.astro'
import { TeamCarousel } from '~/components/react/TeamCarousel/TeamCarousel'
import { Extras } from '~/data/extras/extras'
import { Features } from '~/data/features/features'
import RootLayout from '../layouts/root/RootLayout.astro'
---

<RootLayout title="Home" applyContentStyles={false}>
  <Hero />

  <!-- Main section -->
  <div class="HeroOverlap relative mb-6 flex flex-col gap-6 px-4 sm:px-6">
    <h2 class="sr-only">Features</h2>

    <!-- Feature cards -->
    <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
      {Features.map((feature) => <FeatureCard {...feature} />)}
    </div>
  </div>

  <h2 class="mt-8 mb-6 px-4 text-center sm:px-6">Team</h2>

  <!-- Team cards -->
  <TeamCarousel client:load />

  <!-- Additional downloads -->
  <h2 class="mt-2 mb-6 px-4 text-center sm:px-6">Additional downloads for better experience</h2>

  <!-- Extras cards -->
  <div class="mb-6 flex flex-wrap items-center justify-center gap-6 px-4 sm:px-6">
    {Extras.map((extra) => <ExtraCard {...extra} />)}
  </div>
</RootLayout>

<style is:global>
  :root {
    --hero-clip-height: 50px;
  }
</style>

<style>
  .HeroOverlap {
    margin-top: calc(-1 * var(--hero-clip-height) - 1.5rem);
  }
</style>
