<div class="file-info">
  <span class="file-info__filename">None</span>
  <code class="file-info__size">N/A</code>
</div>

<style lang="scss">
  .file-info {
    height: var(--input-height);

    display: flex;
    align-items: center;
    gap: 0.5em;

    &__filename {
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__size {
      flex-shrink: 0;
    }
  }
</style>
