---
import Icon from '../Icon.astro'
---

<div class="loader">
  <Icon
    className="loader__icon fa-5x fa-spin"
    icon="fa6-solid:arrows-rotate"
    spin
  />
</div>

<style lang="scss">
  .loader {
    background: white;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    &__icon {
      color: #7f7f7f;
    }
  }
</style>
