<div class="skin-size">
  <input
    class="skin-size__input"
    type="range"
    min="0"
    max="4"
    step="1"
    value="0"
  />
</div>

<style lang="scss">
  .skin-size {
    &__input {
      display: block;
    }
  }
</style>
