<footer>
  <p>Site design &copy; { new Date().getFullYear() } minelittlepony-mod.com</p>
  <p>Minecraft &copy; Mojang AB</p>
  <p>My Little Pony: Friendship is Magic &copy; Hasbro, Inc.</p>
</footer>

<style lang="scss">
  footer {
    background: #efefef;
    color: #7f7f7f;
    padding: var(--gutter);
    text-align: center;
  }
</style>
