@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply h1;
  }

  h2 {
    @apply h2;
  }

  h3 {
    @apply h3;
  }

  h4 {
    @apply h4;
  }

  h5 {
    @apply h5;
  }

  h6 {
    @apply h6;
  }
}

@layer components {
  .btn {
    @apply border-zinc-950/30 bg-primary text-white;
    @apply h-10 rounded-md border-b-4 px-4;
    @apply hover:opacity-90 active:border-b-0;
    @apply disabled:border-none disabled:opacity-50;
  }

  .input {
    @apply border-zinc-200 ring-primary/25;
    @apply h-10 rounded-md border px-4 outline-none transition;
    @apply focus:border-primary/50 focus:ring;

    &[type='color'] {
      @apply py-1;
    }
  }
}

@layer utilities {
  :root {
    --pastel-stripe-height: 5px;
    --pastel-stripe-image: url('/assets/pastel-stripe.png');
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    @apply font-bold;
  }

  .h1 {
    @apply text-4xl;
  }

  .h2 {
    @apply text-3xl;
  }

  .h3 {
    @apply text-2xl;
  }

  .h4 {
    @apply text-xl;
  }

  .h5 {
    @apply text-lg;
  }

  .h6 {
    @apply text-base;
  }

  .pastel-stripe {
    border-top: var(--pastel-stripe-height) solid transparent;

    position: relative;

    &::before {
      content: '';

      background: var(--pastel-stripe-image) no-repeat top left / 100%;
      image-rendering: pixelated;
      pointer-events: none;

      height: var(--pastel-stripe-height);

      position: absolute;
      /* Raise it to top from bottom, because from top it sticks to content box */
      inset: auto 0 100%;
    }
  }

  .pastel-stripe-link {
    @apply pastel-stripe;

    border-top: none;

    &::before {
      transition: height 100ms;
      height: 0;

      inset: auto 0 0;
    }

    &:global(.current),
    &:hover {
      &::before {
        height: var(--pastel-stripe-height);
      }
    }
  }
}
