@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme {
  --font-sans: Roboto;
  --font-serif: Roboto Slab;
  --font-mono: Roboto Mono;

  --color-primary: #3485df;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility btn {
  @apply border-zinc-950/30 bg-primary text-white;
  @apply h-10 rounded-md border-b-4 px-4;
  @apply hover:opacity-90 active:border-b-0;
  @apply disabled:border-none disabled:opacity-50;
}

@utility input {
  @apply border-zinc-200 ring-primary/25 bg-white;
  @apply h-10 rounded-md border px-4 outline-hidden transition;
  @apply focus:border-primary/50 focus:ring-3;

  &[type='color'] {
    @apply py-1;
  }
}

@utility h1 {
  @apply font-bold;
  @apply text-4xl;
}

@utility h2 {
  @apply font-bold;
  @apply text-3xl;
}

@utility h3 {
  @apply font-bold;
  @apply text-2xl;
}

@utility h4 {
  @apply font-bold;
  @apply text-xl;
}

@utility h5 {
  @apply font-bold;
  @apply text-lg;
}

@utility h6 {
  @apply font-bold;
  @apply text-base;
}

@utility pastel-stripe {
  border-top: var(--pastel-stripe-height) solid transparent;

  position: relative;

  &::before {
    content: '';

    background: var(--pastel-stripe-image) no-repeat top left / 100%;
    image-rendering: pixelated;
    pointer-events: none;

    height: var(--pastel-stripe-height);

    position: absolute;
    /* Raise it to top from bottom, because from top it sticks to content box */
    inset: auto 0 100%;
  }
}

@utility pastel-stripe-link {
  @apply pastel-stripe;

  border-top: none;

  &::before {
    transition: height 100ms;
    height: 0;

    inset: auto 0 0;
  }

  &:global(.current),
  &:hover {
    &::before {
      height: var(--pastel-stripe-height);
    }
  }
}

@layer base {
  h1 {
    @apply h1;
  }

  h2 {
    @apply h2;
  }

  h3 {
    @apply h3;
  }

  h4 {
    @apply h4;
  }

  h5 {
    @apply h5;
  }

  h6 {
    @apply h6;
  }
}

@layer utilities {
  :root {
    --pastel-stripe-height: 5px;
    --pastel-stripe-image: url('/assets/pastel-stripe.png');
  }
}
