---
import type { Props as MainProps } from './components/Main.astro'
import { SEOMetadata } from 'astro-seo-metadata'
import Site from '~/data/site.json'
import Footer from './components/Footer.astro'
import Header from './components/Header.astro'
import Main from './components/Main.astro'
import '~/styles/index.css'

export interface Props extends MainProps {
  title: string
  description?: string
}

const { title, description, ...mainProps } = Astro.props
const favicon = '/assets/favicon.ico'
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <SEOMetadata
      siteName={Site.siteName}
      title={Site.titleTemplate.replace('%s', title)}
      description={description ?? Site.siteDescription}
      favicon={favicon}
      image={new URL(favicon, Astro.url).toString()}
      canonicalUrl={Astro.url.toString()}
      type="website"
      astroSitemap
      astroGenerator
    />

    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=roboto:400,700|roboto-mono:400,700|roboto-slab:400,700"
      rel="stylesheet"
    />

    <script src="./scripts/konami.ts"></script>
  </head>

  <body>
    <div class="mx-auto flex min-h-screen max-w-6xl flex-col bg-white font-serif shadow-xl">
      <Header />

      <Main {...mainProps}>
        <slot />
      </Main>

      <Footer />
    </div>
  </body>
</html>
