{% if page.title != nil %}
{% assign title = page.title | append: " - " | append: site.title %}
{% else %}
{% assign title = site.title %}
{% endif %}

{% if page.description != nil %}
{% assign description = page.description %}
{% else %}
{% assign description = site.description %}
{% endif %}

<html>
	<head>
		<title>{{ title }}</title>

		<!-- Page settings -->
		<meta name="viewport" content="width=device-width">
		<meta charset="utf-8">

		<!-- SEO tags (copied from Minima theme) -->
		<meta property="og:title" content="{{ title }}">
		<meta property="og:locale" content="en_US">
		<meta name="description" content="{{ description }}">
		<meta property="og:description" content="{{ description }}">
		<link rel="canonical" href="{{ site.url }}">
		<meta property="og:url" content="{{ site.url }}">
		<meta property="og:site_name" content="{{ site.name }}">

		<!-- Icon -->
		<link rel="shortcut icon" href="{{ '/assets/favicon.ico' | relative_url }}" type="image/x-icon">

		<!-- Style sheets -->
		<link rel="stylesheet" href="{{ '/css/index.css' | relative_url }}">
	</head>

	<body>
		{% include menu.html %}

		<div id="content" class="{{ page.class }}">
			{{ content }}
		</div>
		{% include footer.html %}
	</body>
</html>
