{% if page.title != nil %}
{% assign title = page.title | append: " - " | append: site.title %}
{% else %}
{% assign title = site.title %}
{% endif %}

{% if page.description != nil %}
{% assign description = page.description %}
{% else %}
{% assign description = site.description %}
{% endif %}

<html>
	<head>
		<title>{{ title }}</title>
		
		<!-- Page settings -->
		<meta name="viewport" content="width=device-width">
		<meta charset="utf-8">
		
		<!-- SEO tags (copied from Minima theme) -->
		<meta property="og:title" content="{{ title }}">
		<meta property="og:locale" content="en_US">
		<meta name="description" content="{{ description }}">
		<meta property="og:description" content="{{ description }}">
		<link rel="canonical" href="{{ site.url }}">
		<meta property="og:url" content="{{ site.url }}">
		<meta property="og:site_name" content="{{ site.name }}">
		
		<!-- Icon -->
		<link rel="shortcut icon" href="{{ '/assets/favicon.ico' | relative_url }}" type="image/x-icon">

		<!-- Style sheets -->
		<link rel="stylesheet" href="{{ '/css/index.css' | relative_url }}">
		<link rel="stylesheet" href="{{ '/css/' | append: page.css | append: '.css' | relative_url }}">
	</head>
	
	<body>
		<menu>
			{% for link in site.data.menu %}
				{% if page.path == link.path %}
					<span>{{ link.title }}</span> <!-- You are here! -->
				{% else %}
					<a href="{{ '/' | append: link.path | relative_url }}">{{ link.title }}</a>
				{% endif %}
			{% endfor %}
		</menu>
		
		<div id="content">
			{{ content }}
		</div>

		<footer>
			<span>Site design &copy; 2019 minelittlepony-mod.com (refreshed by <a href="https://github.com/keupoz" target="_blank">Keupoz</a>, maintained by Zombie)</span>
			<span>Original Mine Little Pony mod &copy; <a href="https://www.minecraftforum.net/forums/mapping-and-modding-java-edition/minecraft-mods/1278090-mine-little-pony-v1-6-4-1" target="_blank">Verdana</a> (unofficially maintained by <a href="https://github.com/killjoy1221" target="_blank">KillJoy</a>)</span>
			<span>Minecraft &copy; Mojang AB</span>
			<span>My Little Pony: Friendship is Magic &copy; Hasbro, Inc.</span>
		</footer>
		
	</body>
</html>