@reference "../../../../layouts/root/global.css";

.Output {
  @apply w-full shadow-lg;

  background: url('./assets/checker.png') top left / calc(100% / 32);
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
